.sidenav {
    background-color: var(--Brand);
    display: flex;
    padding: 10px 20px;

    justify-content: space-between;
}

.logo > img {
    width: 60px;
}

.navbar {
    display: flex;
    gap: 15px;
}

.navbar a {
    color: var(--Brand900);
}
.navbar a:hover {
    text-decoration: none;
    cursor: pointer;
    color: var(--Nuetrals100);
}
.CreateUser {
    background-color: var(--Nuetrals100);
    color: var(--Nuetrals900);
    border-radius: 5px;

    border: transparent 1px solid;
    padding: 10px 13px;

    transition: background-color 0.3s, color 0.3s;
}
.CreateUser:hover {
    background-color: var(--Brand-label);
    color: var(--Nuetrals100);
}
